{% extends 'Documents/base.html' %} 

{% block body %}

<!-- Content Section -->
<section>
	<div class="container">
	    <div class="row row-content">
			<ol class="breadcrumb">
				<li	class="breadcrumb-item">
					<a href=" {% url 'Documents:main' %}">Main Page</a>
				</li>
				<li	class="breadcrumb-item active">
					Asset Create
				</li>
			</ol>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<h3>Create Asset</h3>
				<hr>
				<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{% include 'Documents/form-template.html' %}					
					<div class="form-group" style="margin-left:40px"">
						<button id="asset_create_submit_button" type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
$('#id_approval_agency').change(function(){
	getForAsset('#id_approval_agency', '#id_asset_type');
});

$("#asset_create_submit_button").click(function(event) {
	 var confirm_button = confirm("Are you sure to create the new asset?");
	 return confirm_button;
});
</script>

{% endblock %}
