{% extends 'Documents/base.html' %} 

{% block link %} ref="{% url 'Documents:main' %}"{% endblock %}
{% block body %}

<section>
	<div class="container">
	    <div class="row row-content">
			<ol class="breadcrumb">
				<li	class="breadcrumb-item">
					<a href=" {% url 'Documents:main' %}">Main Page</a>
				</li>
				<li	class="breadcrumb-item">
					<a href=" {% url 'Documents:search' %}">Search</a>
				</li>
				<li	class="breadcrumb-item active">
					Asset Edit
				</li>
			</ol>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<h3>Asset Detail</h3>
				<hr>
				<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{% include 'Documents/form-template.html' %}	
					<div class="form-group" style="margin-left: 40px"">
						<button type="submit" class="btn btn-danger">Update</button>
					</div>				
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}