{% extends 'Documents/base.html' %} 

<!-- Content Section -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-7">
				<h3>Create Document</h3>
				<hr>
				<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{% include 'Documents/form-template.html' %}
					<div class="form-group" style="margin-left:40px"">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
