{% extends 'Documents/base.html' %} 

{% block link %} ref="{% url 'Documents:main' %}"{% endblock %}
{% block body %}

<section>
	<div class="container">
	    <div class="row row-content">
			<ol class="breadcrumb">
				<li	class="breadcrumb-item">
					<a href=" {% url 'Documents:main' %}">Main Page</a>
				</li>
				<li	class="breadcrumb-item">
					<a href=" {% url 'Documents:search' %}">Search</a>
				</li>
				<li	class="breadcrumb-item active">
					Document Edit
				</li>
			</ol>
		</div>
		<div class="row row-content">
			<div class="col-sm-12 col-md-7">
				<h3>Document Detail</h3>
				<hr>
				<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
				{% include 'Documents/form-template.html' %}	
				{% include 'Documents/asset-selected-table-template.html' %}
				    <div class="form-group hidden" style="margin-left: 40px"">
						<label class="control-label col-sm-2"> asset id:</label>
						<div class="col-sm-10">
							<input id="asset_id" name="asset_id">
						</div>
					</div>
					<div class="form-group" style="margin-left: 40px"">
						<button id="document_update_submit_button" type="submit" class="btn btn-danger">Update</button>
					</div>				
				</form>
			</div>
		    {% include 'Documents/asset-link-form-template.html' %}
		</div>
	</div>
</section>

<script>
$(document).ready(function(){
	var attribute_array = arrangeAttribute('asset_link_table_parent');
	var temp_result = '{{ asset_objects }}';
	var result = temp_result.replace(/(&quot\;)/g,"\"");
	var jsonObj = $.parseJSON(result);
	addData(jsonObj, attribute_array, 'asset_link_table_parent');
});

$('#asset_link_form').on('submit', function(event) {
	event.preventDefault();
	postForSearch('#asset_link_form', 'asset_table_in_document_parent');
});

$('#asset_selected_table').on('click', 'input[type="button"]',function(event) {
	$(this).closest('tr').remove();
});
				
$("#document_update_submit_button").click(function(event) {
	var confirm_button = confirm("Are you sure to update the document?");
	if (confirm_button == true) {
	    checkAssetIdBeforeSubmit();
	} else {
	    return false;
	}	
}); 
</script>

{% endblock %}