{% extends 'Documents/base.html' %} {% block body %}
<!-- Content Section -->
<section>
	<div class="container">
		<div class="row row-content">
			<ul class="nav nav-tabs">
				<li class="active" id="assetTab"><a href="#asset_search"
					data-toggle="tab"><h4>Asset Search</h4></a></li>
				<li id="searchTab"><a href="#document_search" data-toggle="tab"><h4>Document
							Search</h4></a></li>
			</ul>
			<div class="tab-content">
				<div>
					<p style="padding: 20px;"></p>
				</div>
				<div class="tab-pane fade in active" id="asset_search">
					<form class="form-horizontal" action="" method="post" id="asset_data">
						{% csrf_token %} 
						{% for field in assetform %}
						<div class="form-group">
							<label class="control-label col-sm-2">
								{{field.label_tag}}</label>
							<div class="col-sm-10">{{ field }}</div>
						</div>
						{% endfor %}
						<div class="form-group" style="margin-left: 40px"">
							<button type="submit" class="btn btn-success">Search</button>
						</div>
					</form>
				</div>
				<!-- <div class="tab-pane fade" id="document_search">
					<form class="form-horizontal" action="" method="post" id="document_data">
						{% csrf_token %} {% for field in docform %}
						<div class="form-group">
							<label class="control-label col-sm-2">{{field.label_tag}}</label>
							<div class="col-sm-10">{{ field }}</div>
						</div>
						{% endfor %}
						<div class="form-group" style="margin-left: 40px"">
							<button type="submit" class="btn btn-success">Search</button>
						</div>
					</form>
				</div> -->
			</div>
			<div>
				<p style="padding: 20px;"></p>
			</div>
		</div>
		{{errorMessage}}
 
		<div class="row row-content">
			{{errorMessage}}
			<table class="table" id="asset_table" style="display: none">
				<thead>
					<tr>
					    <th>Actions</th>
						<th>#</th>
						<th>Approval_agency</th>
						<th>Asset_type</th>
						<th>Manufacture_name</th>
						<th>Status</th>
                        <th>A_number</th>
						<th>Serial_number</th>
						<th>Tag_number</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody id="asset_row">

				</tbody>
			</table>
			<table class="table" id="document_table" style="display: none">
				<thead>
					<tr>
					    <th>Actions</th>
						<th>#</th>
						<th>Document_type</th>
						<th>Document_date</th>
						<th>Renewal_date</th>
						<th>Model_number</th>
						<th>Manufacture_name</th>
						<th>A_number</th>
						<th>License_decal_number</th>
						<th>Document_description</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div> 
	</div>
</section>

 
<script>
	$('#asset_data').on('submit', function(event) {
		event.preventDefault();
		console.log("form submitted!") 
		create_post();
	});	
</script>

{% endblock %}
