<div id="document_table_inside_asset_table_parent_div" style="display: block">
	<div>
		<a href="#" class="glyphicon glyphicon-file" id="document_inside_asset_table_to_csv"></a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Actions</th>
				<th>#</th>
				<th>Document_type</th>
				<th>Document_date</th>
				<th>Renewal_date</th>
				<th>Manufacture_name</th>
				<th>A_number</th>
				<th>License_decal_number</th>
				<th>Model_number</th>
				<th>Document_description</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>